// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$body-bg: #262626;
$primary-yellow: #F4E409;
$secondary-yellow: #DBCC00;

body {
  background-color: $body-bg;
  margin-top: 90px;
}

header {
  background-color: $body-bg;
}

a, 
a:link,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

.menu-button {
  color: #ffffff;
  border-radius: 10px;
  transition: .3s ease-in-out all;
}

.navbar-toggler:focus {
  border: 2px solid #F4E409;
  outline: none;
  box-shadow: none;
}

.menu-button:hover {
  background-color: rgba($color: #000, $alpha: 0.2);
}

.menu-link {
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: $primary-yellow;
  transition: all .3s ease-in-out;
}

.menu-link:hover::after {
  width: 50%;
}

.cta-button {
  border: none;
  background-color: $primary-yellow;
  border-radius: 10px;
  width: 150px;
  transition: all .3s ease-in-out;
}

.cta-button:hover,
.cta-home-button:hover {
  background-color: $secondary-yellow;
}

.main-cta {
  background: url("../assets/images/homeBackground.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.cta-home-text {
  text-align: center;
  width: 500px;
}

.cta-home-button {
  border: none;
  background-color: $primary-yellow;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.home-social a {
  font-size: 32px;
  transition: transform .3s ease-in-out;
}

.home-social a:hover {
  transform: scale(1.1);
}

.team-section {
  background: url("../assets/images/teamBackground.png") no-repeat;
  background-size: cover;
  height: 80vh;
}

.section-title-white,
.profile-name,
.service-title h3,
.service-description p,
.address h1,
.address p,
.address i,
.footer-contact {
  color: #ffffff;
}

.profile {
  width: 300px;
  background-color: $body-bg;
  border-radius: 10px;
  box-shadow: #000 0px 0px 10px;
}

.service-section {
  height: 80vh;
}

.service-cricle {
  height: 190px;
  width: 190px;
  border: 2px solid $primary-yellow;
  border-radius: 50%;
}

.service-description {
  width: 200px;
}

.address a:hover {
  text-decoration: underline;
}